.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
}

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav img {
    height: 28px;
    width: 28px;
    margin-right: 8px;
}

.left-nav a {
    text-decoration: none;
}

.right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-nav a {
    text-decoration: none;
    margin-left: 32px;
}

.login-btn {
    color: #646f79;
}

.login-btn:hover {
    cursor: pointer;
    color: #635ac7;
}

.signup-btn {
    background-color: #796eff;
    border-radius: 3px;
    border: none;
    color: #fff;
    height: 36px;
    letter-spacing: .5px;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
    transition: background-color .15s,color .15s ease-in-out;
    white-space: nowrap;
}

.signup-btn:hover {
    cursor: pointer;
    // box-shadow:inset 0 0 0 99999px rgba(0, 0, 0, 0.267);
    background-color: #635ac7;
}
