.project-show{
    background-color: #f6f8f9;
    color: #151b26;
    min-height: calc(100vh - 50px);
    
}

.project-show-wrapper{
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-height: calc(100vh - 50px);
    padding: 15px;
    padding-bottom: 0;
    height: 100%;
}

.project-show-spreadsheet{
    flex: 0 1 1000px;
    min-width: 405px;
    display: flex;
    flex-direction: column;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
}

.project-show-add-task-row{
    display: flex;
    justify-content: space-between;
    padding: 10px 38px 10px 30px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.add-task-button{
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    background-color: #14aaf5;
    border-color: #14aaf5;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    transition-duration: .2s;
    transition-property: background,border,box-shadow,color,fill;
    cursor: pointer;
    text-decoration: none;
}


.add-task-button:hover{
    background-color: #008ce3;
    border-color: #008ce3;
}

.project-show-add-task-row svg{
    font-size: 25px;
    color:rgb(175, 175, 175);
}

.project-show-task-details{
    overflow: hidden;
    flex: 0 1 0px;
    margin-left: 15px;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    display: flex;
    flex-direction: column;
    transition: transform .2s ease-in-out;
    transition: flex-basis 500ms ease-in-out;
    transition: min-width .2s ease-in-out;
    transform: translateX(100%);
}

.task-details-slide{
    transform: translateX(0%);
    transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
    min-width: 495px;
    flex: 0 1 675px;
}

// .test-left{
//     min-width: calc(100% - 800px);
//     width: 45%;
// }

.project-scroll-wrapper{
    height: calc(100vh - 116px);
	overflow-y: scroll;
}

/* width */
.project-show ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.project-show ::-webkit-scrollbar-track {
  background: transparent; 
  z-index: -1;
}
 
/* Handle */
.project-show ::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
.project-show:hover ::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182); 
  border-radius: 5px;
   border: 2px solid rgb(182, 182, 182);  
}