.tile-top{
  height: 215px;
  width: 150px;
  padding-top: 15px;
  margin: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin 0.5s, background-color 0.5s;
  border-radius: 20px;
}

.tile-top:first-child{
  margin-left: 0px;
}

.tile-top:hover{
  background-color: rgba(237, 237, 237, 0.75);
  cursor: pointer;
  margin-top: 0px;
}

.tile-inner, .tile-inner-new{
  height: 120px;
  width: 120px;
  background-color: green;
  border-radius: 20px;
  position: relative;
}

.tile-inner-new{
  border: 2px dashed rgb(161, 161, 161); 
  background-color: white;
}

.tile-inner svg{
  font-size: 48px;
  color: white;
  position: absolute;
  left: 36px;
  top: 36px;
}

.tile-inner-new svg{
  font-size: 48px;
  color: rgb(161, 161, 161);
  position: absolute;
  left: 36px;
  top: 36px;
}

.tile-top h2{
  color: #151b26;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 500;
}

.section-tiles a{
  text-decoration: none;
}