.task-mark-not-complete, .task-mark-complete{
	background-color: transparent;
	border: 1px lightgray solid;
	display: flex;
	align-items: center;
	color: black;
	font-size: 12px;
	height: 28px;
}

.task-mark-not-complete:hover{
	background-color: lightgray;
	border-color: darkgray;
}

.task-mark-not-complete svg, .task-mark-complete svg{
	margin-right: 5px;
	font-size: 18px;
	color: darkgray;
}

.task-mark-not-complete:hover svg{
	color: darkgray;
}

.task-mark-complete{
	background-color:  #25e8c8;
	color: white;
	border: 1px #25e8c8 solid;
}

.task-mark-complete svg{
	color:white;
}

.task-mark-complete:hover{
	background-color: #00bf9c;
	border-color: #00bf9c;
}

.task-show-close-button{
	cursor: pointer;
	color: lightgray;
}

.task-show-close-button:hover{
	color: rgb(78, 78, 78);
}

.task-scroll-wrapper{
	height: calc(100vh - 116px);
	overflow-y: scroll;
	padding: 0 30px;
}

/* width */
.task-show ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.task-show ::-webkit-scrollbar-track {
  background: transparent; 
  z-index: -1;
}
 
/* Handle */
.task-show ::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
.task-show:hover ::-webkit-scrollbar-thumb {
  background: rgb(126, 126, 126); 
  border-radius: 5px;
   border: 2px solid rgb(126, 126, 126);
}

.task-show-title{
    margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -10px;
	padding: 4px 9px;
	font-size: 24px;
    font-weight: 500;
	line-height: 32px;
	border: 1px solid transparent;
}

.task-show-title:hover{
	border: 1px solid lightgray;
    border-radius: 5px;
}

.task-show-title input{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    background: transparent;
    border: none;
    box-sizing: content-box;
}

.task-show-user{
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.task-show-user .main-header-avatar-pic{
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.assignee-data{
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(238, 238, 238);
	display: flex;
	margin-bottom: 15px;
}

.assignee-details{
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.assignee-details div:first-child{
	color: #6f7782;
}

.assignee-details div:last-child{
	color:#273240;
}

.task-calendar{
	justify-content: center;
}

.task-calendar svg{
	color: darkgray;
	font-size: 16px;
}	

.task-show-description{
	display: flex;
	margin-bottom: 15px;
    margin-top: 5px;
}


.task-show-description svg{
	color: darkgray;
	margin-right: 10px;
	font-size: 18px;
	padding-top: 3px;
}

.task-show-description-details{
	margin-top: 0;
	padding: 2px 9px;
	padding-bottom: 35px;
	border: 1px solid transparent;
	width: 100%;
	min-width: 0;
	word-wrap: break-word;
}

.task-show-description-details:hover{
	border: 1px solid lightgray;
    border-radius: 5px;
}

.task-show-description textarea{
    background: transparent;
    border: none;
	width: 100%;
	display: flex;
	min-height: calc(100vh - 300px);
	font-size: 16px;
}

.description-edit{
	padding-bottom: 0;
}

.task-show-right{
	display: flex;
}

.task-show-right div:first-child{
	color: darkgray;
    font-size: 20px;
    margin-top: -9px;
    margin-right: 10px;
    cursor: pointer
}

.task-show-right div:first-child:hover{
	color: black;
}