div.task-mark-not-complete, div.task-mark-complete{
	background-color: transparent;
	border: 1px lightgray solid;
	display: flex;
	align-items: center;
	color: black;
	font-size: 12px;
	height: 28px;
}

div.task-mark-not-complete:hover{
	background-color: lightgray;
	border-color: darkgray;
}

div.task-mark-not-complete svg, .task-mark-complete svg{
	margin-right: 5px;
	font-size: 18px;
	color: darkgray;
}

div.task-mark-not-complete:hover svg{
	color: darkgray;
}

div.task-mark-complete{
	background-color:  #25e8c8;
	color: white;
	border: 1px #25e8c8 solid;
}

div.task-mark-complete svg{
	color:white;
}

div.task-mark-complete:hover{
	background-color: #00bf9c;
	border-color: #00bf9c;
}

.task-show-close-button{
	cursor: pointer;
	color: lightgray;
}

.task-show-close-button:hover{
	color: rgb(78, 78, 78);
}

.task-scroll-wrapper{
	height: calc(100vh - 116px);
	overflow-y: scroll;
	padding: 0 30px;
}

/* width */
.task-show ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.task-show ::-webkit-scrollbar-track {
  background: transparent; 
  z-index: -1;
}
 
/* Handle */
.task-show ::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
.task-show:hover ::-webkit-scrollbar-thumb {
  background: rgb(126, 126, 126); 
  border-radius: 5px;
   border: 2px solid rgb(126, 126, 126);
}

.task-show-title{
    margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -10px;
	padding: 4px 9px;
	font-size: 24px;
    font-weight: 500;
	line-height: 32px;
	border: 1px solid transparent;
}

.task-show-title:hover{
	border: 1px solid lightgray;
    border-radius: 5px;
}

.task-show-title input{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    background: transparent;
    border: none;
    box-sizing: content-box;
}

.task-show-user{
	display: flex;
	align-items: center;
	margin-right: 10px;
	border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.task-show-user:hover{
	border: 1px lightgray solid;
}

.task-show-user .main-header-avatar-pic{
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.assignee-data{
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(238, 238, 238);
	display: flex;
	margin-bottom: 15px;
}

.assignee-details{
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.assignee-details div:first-child{
	color: #6f7782;
}

.assignee-details div:last-child{
	color:#273240;
}

.task-calendar{
	justify-content: center;
}

.task-calendar svg{
	color: darkgray;
	font-size: 16px;
}	

.task-show-description{
	display: flex;
	margin-bottom: 15px;
    margin-top: 5px;
}


.task-show-description svg{
	color: darkgray;
	margin-right: 10px;
	font-size: 18px;
	padding-top: 3px;
}

.task-show-description-details{
	margin-top: 0;
	padding: 2px 9px;
	padding-bottom: 35px;
	border: 1px solid transparent;
	width: 100%;
	min-width: 0;
	word-wrap: break-word;
}

.task-show-description-details:hover{
	border: 1px solid lightgray;
    border-radius: 5px;
}

.task-show-description textarea{
    background: transparent;
    border: none;
	width: 100%;
	display: flex;
	min-height: calc(100vh - 300px);
	font-size: 16px;
}

.description-edit{
	padding-bottom: 0;
}

.task-show-right{
	display: flex;
}

.task-show-right > div:first-child{
    margin-right: 10px;
    cursor: pointer
}

.dots{
	color: darkgray;
	font-size: 20px;
	line-height: 12px;
}

.task-show-right div:first-child:hover{
	color: black;
}

.delete-task-button{
	padding: 0 15px 0 15px;
    height: 40px;
    display: flex;
    align-items: center;
}

.delete-task-button:hover{
	color: #151b26;
    background: #e8ecee;
}

select.user-show-assignee-input{
	background-position:
		calc(100% - 15px) calc(1em + 1px), 
		calc(100% - 10px) calc(1em + 1px), 
		calc(100% - 2.4em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
	border-radius: 5px;
	border-color: darkgray;
}

select.user-show-assignee-input:focus {
	outline: 0;
}

div.task-details-modal{
	min-width: 650px;
	position: absolute;
	top: 20px;
	border-radius: 4px;
}

.task-details-modal h2{
	color: black;
}

.task-details-modal .project-show-add-task-row {
	align-items: center;
}

.task-details-modal div.add-task-button svg{
	margin-top: -1px;
	font-size: 25px;
}

.task-details-modal .dialog-right{
	display: flex;
}

.task-details-modal .dialog-right svg{
	margin: 0;
}

.task-details-modal .dots{
	margin-right: 10px;
}

.task-details-modal input{
	margin-top: 0;
	height: inherit;
}

.task-details-modal  .task-calendar svg{
	margin-top: 0;
}

.task-details-modal .dialog-description {
	display: flex;
}



.task-details-modal .dialog-description svg {
	color: darkgray;
    margin-right: 10px;
    font-size: 18px;
	padding-top: 3px;
	margin-top: 0;
}

.task-details-modal .description-edit{
	display: inherit;
}

.task-details-modal textarea{
    background: transparent;
    border: none;
	width: 100%;
	display: flex;
	min-height: calc(100vh - 300px);
	font-size: 16px;
}