.task-page {

}

.task-header {

}

.task-intro {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
} 

.task-column {

}

.add-task {

}

.add-task-button {

}

.task-list {

}