.player {
    display:flex;
    // background-image: linear-gradient(to right bottom, rgb(36, 58, 56), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    min-height: 100vh;
}

.black-bg{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    z-index: -5;
}

.main-view{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 920px;
    position: relative;
}


.player-background{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;  
}



.player-main-view{
    width: 100%;
}

.player-main-view > div:nth-child(3){
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
}



.scroll-wrapper{
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3)
}

html.macOS ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px
}

