.dialog{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 104;
    align-items: center;
    flex-direction: column;
}  

.color-dialog{
  display: none;
}

.active{
  display: flex;
}

.project-popup-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.dialog h1{
    font-size: 50px;
    color: white;
}

.dialog h2{
    font-size: 30px;
    color: white;
}

.dialog a, .color-dialog button{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top right, #14aaf5 , rgb(0, 255, 217));
  color: #fff;
  margin: 20px;
  height: 30px; 
  text-decoration: none;
  border: 1px solid #cbd4db;
  border-radius: 4px;
  font-size: 14px; 
  border-color: white;
  padding: 10px;
  align-items: center;
}

.dialog a:hover, .color-dialog button:hover{
  background-image: linear-gradient(to top right, #018bd0 , rgb(0, 216, 184));
}

.color-dialog form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-dialog input{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.color-dialog button{
  width: 100%;
  height: 40px;
}

.color-dialog svg{
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.486);
  font-size: 50px;
  cursor: pointer;
}

.color-dialog svg:hover{
  color: white;
}